Repository JJ-zero/ha-core-tacitus: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy, gen_requirements_all, hassfest, hassfest-metadata, hassfest-mypy-config

mypy:
  name: mypy
  entry: script/run-in-env.sh mypy
  language: script
  require_serial: true

gen_requirements_all:
  name: gen_requirements_all
  entry: script/run-in-env.sh python3 -m script.gen_requirements_all
  pass_filenames: false
  language: script

hassfest:
  name: hassfest
  entry: script/run-in-env.sh python3 -m script.hassfest
  pass_filenames: false
  language: script

hassfest-metadata:
  name: hassfest-metadata
  entry: script/run-in-env.sh python3 -m script.hassfest -p metadata
  pass_filenames: false
  language: script

hassfest-mypy-config:
  name: hassfest-mypy-config
  entry: script/run-in-env.sh python3 -m script.hassfest -p mypy_config
  pass_filenames: false
  language: script

Quick WIP
  homeassistant/components/tacitus/readme.md
  homeassistant/components/tacitus/sensor.py
  script/setup
Due: mypy

WIP: Adding integration does not die
  homeassistant/components/tacitus/config_flow.py
Due: mypy

WIP: Somehow working add form
  homeassistant/components/tacitus/config_flow.py
  homeassistant/components/tacitus/readme.md
  homeassistant/components/tacitus/strings.json
Due: mypy, hassfest

It's alive! (again)
  homeassistant/components/tacitus/__init__.py
  homeassistant/components/tacitus/config_flow.py
  homeassistant/components/tacitus/sensor.py
  homeassistant/components/tacitus/strings.json
Due: mypy, hassfest

Working devices
  homeassistant/components/tacitus/config_flow.py
  homeassistant/components/tacitus/manifest.json
  homeassistant/components/tacitus/sensor.py
  requirements_all.txt
  requirements_test_all.txt
Due: mypy, gen_requirements_all, hassfest

Trying to outsmart mypy
  homeassistant/components/tacitus/sensor.py
Due: mypy

Minor changes
  homeassistant/components/tacitus/readme.md
  homeassistant/components/tacitus/sensor.py
Due: mypy

Rewriting with coordinator.
  homeassistant/components/tacitus/sensor.py
Due: mypy

Using API class now.
  homeassistant/components/tacitus/sensor.py
  homeassistant/components/tacitus/tacitus_api.py
Due: mypy

Spliting sensors in multiple files
  homeassistant/components/tacitus/sensor.py
  homeassistant/components/tacitus/sensors/__init__.py
  homeassistant/components/tacitus/sensors/drives.py
  homeassistant/components/tacitus/tacitus_api.py
Due: mypy

WIP: Zpools
  homeassistant/components/tacitus/sensor.py
  homeassistant/components/tacitus/sensors/zpools.py
  homeassistant/components/tacitus/tacitus_api.py
Due: mypy

Path conditions:
  mypy: any of: ^(homeassistant|pylint)/.+\.py$ and \.py$
  gen_requirements_all: any of: ^(homeassistant/.+/manifest\.json|homeassistant/brands/.+\.json|pyproject\.toml|\.pre-commit-config\.yaml|script/gen_requirements_all\.py)$
  hassfest: any of: ^(homeassistant/.+/(manifest|strings)\.json|homeassistant/brands/.*\.json|\.coveragerc|homeassistant/.+/services\.yaml|script/hassfest/(?!metadata|mypy_config).+\.py)$
  hassfest-metadata: any of: ^(script/hassfest/metadata\.py|homeassistant/const\.py$|pyproject\.toml)$
  hassfest-mypy-config: any of: ^(script/hassfest/mypy_config\.py|\.strict-typing|mypy\.ini)$
